
.HeaderUser{
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #2F43B7;
    background: -webkit-linear-gradient(to left, #6d73e9, #2F43B7);
    background: linear-gradient(to left, #6d73e9, #2F43B7); 

    position: fixed;
    top: 0px;

    animation: adjust-header linear both;
    animation-timeline: scroll();
    animation-range: 0 300px;

    z-index: 10;
}

@keyframes adjust-header{
    to{
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(5px);
        height: 10vh;
        background: white;
        border-bottom: .5px solid rgba(128, 128, 128, .4);
    }
}

.HeaderUser .item{
    width: 40px;
}

.HeaderUser nav{
    width: 90%;
    margin: auto;

    display: flex;
    justify-content: space-between;
}

.HeaderUser ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;
}

.HeaderUser ul li{
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.HeaderUser ul li a {
    height: 80%;
    color: rgb(255, 255, 255) !important;

    display: flex;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;

    transition: .3s all ease;
}

.HeaderUser .active{
    background: rgb(255, 255, 255);
    color: black !important;
}

.HeaderUser ul li a:hover {
    background: rgb(255, 255, 255) !important;

    display: flex;
    align-items: center;
    color: black !important;
}

.HeaderUser .infoUser{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.HeaderUser .infoUser-descripcion{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.HeaderUser .infoUser-descripcion .name{
    font-size: .9rem;
    font-weight: 800;
    color: white;
}

.HeaderUser .infoUser-descripcion .rol{
    font-size: .7rem;
    color: white;
}

.HeaderUser .avatarUser{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;

    cursor: pointer;
    transition: .3s all ease;
}

.HeaderUser .avatarUser:hover{
    opacity: .8;
}

.HeaderUser .avatarUser img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}