*{
    margin: 0;
    padding: 0;
}

.adminContent{
    padding: 30px 30px;
}

.AdminContent-main-peticiones{
    width: auto;

    gap: 20px;
    padding: 10px 20px 30px 20px;

    background: #E6E6E6;
    border-radius: 30px;
}

.AdminContent-home-peticiones{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    gap: 20px;
}

.HeaderAdmin{
    padding: 0;
}

.CardInfo-peticiones{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Content-peticiones{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cards-peticiones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    flex-wrap: wrap;
}

@media (max-width: 1000px) {
    .cards-peticiones{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .cards-peticiones{
        grid-template-columns: 1fr;
    }
}