.contenedorUsuario
{
    height: 100vh;
    margin: 0;
    padding: auto;
}

.imgPerfil{
    max-width: 10% ;
    height: 5%;
}

#BarraLatela
{
    display: flex;
    width: auto;
}

.imgUsuario
{
    max-width: 45px;
}

.bg-fondo
{
    background-image: url('../img/Fondos.webp');
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: right;
}