*{
    margin: 0;
    padding: 0;
}

.adminContent-home{
    padding: 30px 30px;
    min-width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 20px;
    overflow-y: auto;
}

.Tipo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 20px;
    padding: 10px 20px 30px 20px;

    background: #E6E6E6;
    border-radius: 30px;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    flex-wrap: wrap;
}

@media (max-width: 1000px) {
    .cards{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .cards{
        grid-template-columns: 1fr;
    }
}