.TituloResumen
{
    font-size: 46px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 100px;
    width: 100%;
}

.TextoPerfilUsuario{
    font-size: 25px;
}

.bg-informacion
{
    background-color: rgba(120, 162, 238, 0.63);
}