p{
    margin: 0 !important;
    padding: 0 !important;
}

.CardContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: #4F46C7;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, .3);

    padding: 10px;
    gap: 1px;

    cursor: pointer;
    transition: .3s all ease;
}

.CardContent:hover{
    filter: saturate(1.3);
}

.HeaderCardComponent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HeaderCardComponent h1{
    font-size: 1.5rem;
}

.HeaderCardComponent span{
    font-size: 1.2rem;
    font-weight: 400;
}

.HeaderCardComponent .Details{
    display: flex;
    align-items: center;
    gap: 8px;
}

.HeaderCardComponent .Details p{
    font-size: .9rem;
}

.MainContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.CardHeader{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 8px;
}

.CardHeader svg{
    color: rgb(0, 0, 0);
    padding: 8px;
    background: rgb(255, 255, 255);
    border-radius: 20%;
}

.CardHeader p{
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-weight: 700;
}

.CardBody{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.CardBody .TituloItem{
    color: white;
    font-size: 1.2rem;
}

.CardBody .NumeroUsuarios{
    color: white;
    font-weight: 700;
    font-size: 1.8rem;
}

.CardFooter{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;

    color: white;
    font-size: .8rem;
    font-weight: 700;
}

.CardFooter p, svg{
    cursor: pointer;
}

.Retrazo{
    background: #FEC053;
}

.Retrazo .NameTipo{
    color: black;

}

.Retrazo .CardBody p{
    color: rgb(0, 0, 0);
}

.Retrazo .CardFooter p{
    color: rgb(0, 0, 0);
}

.Retrazo .CardFooter .More{
    color: rgb(0, 0, 0);

}
.Mora{
    background: #D43232;
}