*{
    margin: 0;
    padding: 0;
}

.AdminContent-main-peticiones{
    width: auto;
    display: grid;

    grid-template-areas: 'adminContent-menu';

    gap: 20px;
    padding: 10px 20px 30px 20px;

    background: #E6E6E6;
    border-radius: 30px;
}

.adminContent-menu{
    grid-area: adminContent-menu;
    width: 100%;
    height: 100vh;

    display: flex;
    margin: 0;

    background: rgb(21,38,139);
}

.AdminContent-home-peticiones{
    justify-content: flex-start !important;
    gap: 20px;
}

.HeaderAdmin{
    padding: 0px 20px ;
}

.CardInfo-peticiones{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Content-peticiones{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cards-peticiones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    flex-wrap: wrap;
}

@media (max-width: 1000px) {
    .cards-peticiones{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .cards-peticiones{
        grid-template-columns: 1fr;
    }
}